body {
    font-family:"Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    font-size: 23px;
  }
  
  nav {
    background-color: black;
    color: white;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul .right-icons {
    margin-left: auto;
  }
  
  nav ul .right-icons li {
    margin-left: 30px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  .content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .text {
    width: 50%; 
  }
  p {
    text-align: justify;
    padding-left: 2%;
  }
  
  #quien-soy .title, #estudios .title, #experiencia .title {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 1px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  #quien-soy .text h2 {
    font-size: 2rem; 
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 50px; 
    text-decoration: underline; 
  }
  #estudios .text h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 350px;
    text-decoration: underline;
  }
  
  #estudios .text .timeline-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    height: 100%;
    margin-left: 35%;
    font-size: 26px;
  }
  
  #estudios .text .timeline-text p {
    line-height: 3;
  }
  
  #estudios .content-wrapper .mapa iframe {
    width: 50%; 
    margin-left: 40%; 
    display: block; 
  }
  
  #estudios .content-wrapper .mapa p {
    font-size: 30px; 
    margin-right: 10%;
    margin-left: 38%;
  }
  
  
  .content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .text {
    width: 50%;
  }
  .mapa {
    width: 50%;
  }
  
  #quien-soy .text p, #experiencia .text p {
    font-size: 2rem;
    margin-left: 5%;
  }
  
  #quien-soy .image {
    width: 38%;
    height: 1%; 
    display: block;
    margin-right: 6%;
    margin-top: 2%;
    margin-bottom: 3%;
  }
  
  #quien-soy .image img {
    max-width: 40%;
    height: auto;
    border: 1px solid black;
  }
  #estudios .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  #estudios .content-wrapper .text {
    width: 50%;
  }
  #estudios .content-wrapper .mapa {
    width: 50%;
  }
  #experiencia .text h1 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 100px;
    text-decoration: underline;
  }
  
  #experiencia .text {
    width: 100%; /* Ancho del div de texto */
    margin-right: 100px;
  }
  
  h1 {
    font-size: 28px;
  }
  
  #mas-contenido .title {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 1px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  #mas-contenido .content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  #mas-contenido .video {
    width: 100%;
    display: flex;
    justify-content: center; /* Para centrar el video */
  }
  
  #mas-contenido .video iframe {
    border: 1px solid black; /* Para añadir el borde al video */
  }
  
  #mas-contenido .download {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  
  #mas-contenido .download a {
    text-decoration: none;
    color: white; /* Para hacer el texto del botón negro */
    background-color: gray; /* Para hacer el fondo del botón gris */
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold; /* Para hacer el texto del botón en negrita */
  }
  
  footer {
    background-color: #f8f8f8;
    padding: 1px;
    text-align: center;
  }
  
  footer .contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  footer .text {
    flex: 1;
    text-align: center;
  }

  footer .text p {
    font-size: 20px;
    margin: 0 10px;
  }
  
  footer .flag-button {
    margin-right: 50px;
    padding: 5px; /* Añade un espacio interno alrededor de la bandera */
  }
  
  footer .flag-image {
    width: 70px; /* Ajusta el tamaño de la bandera */
  }
  @media only screen and (max-width: 768px) {
    nav {
      height: auto; /* Ajustar altura automáticamente */
      flex-direction: column; /* Cambiar dirección del flexbox */
      align-items: center; /* Centrar elementos */
    }
  
    nav ul .right-icons {
      margin-left: 0; /* Eliminar margen izquierdo */
      margin-top: 5%; /* Espacio superior */
    }
  
    nav ul .right-icons li {
      margin-left: 0; /* Eliminar margen izquierdo */
      margin-top: 5%; /* Espacio superior entre íconos */
    }
  
    #quien-soy .image {
      width: 40%; 
      height: 20%;
      margin-left: 6%;
      margin-top: 20%; 
    }
  
    #estudios .text h2 {
      margin-left: 0; /* Ajustar margen izquierdo a 0 */
      text-align: center; /* Centrar el título */
    }
  
    #estudios .text .timeline-text {
      margin-left: 0; /* Ajustar margen izquierdo a 0 */
      justify-content: center; /* Centrar el contenido */
      font-size: 18px; /* Reducir tamaño de fuente */
    }
  
    #estudios .content-wrapper .mapa iframe {
      width: 80%; /* Reducir tamaño del mapa */
      margin: 0 auto; /* Centrar horizontalmente */
    }
  
    #estudios .content-wrapper .mapa p {
      font-size: 24px; /* Ajustar tamaño de fuente */
      margin: 0 auto; /* Centrar horizontalmente */
    }
  
    #experiencia .text h1 {
      margin-left: 0; /* Ajustar margen izquierdo a 0 */
      text-align: center; /* Centrar el título */
    }
  
    #experiencia .text {
      width: 100%; /* Ancho del div de texto */
      margin-right: 0; /* Ajustar margen derecho a 0 */
    }
  
    .text {
      width: 100%; /* Ancho completo */
    }
  
    .download {
      width: auto; /* Ancho completo */
      margin-top: 20px; /* Espacio superior */
      text-align: center;
    }
  
    .download a {
      padding: 15px; /* Ajustar relleno */
      display: inline-block; /* Convertir en bloque en línea */
      background-color: gray; /* Color de fondo */
      color: white; /* Color de texto */
      text-decoration: none; /* Quitar subrayado */
      border-radius: 5px; /* Borde redondeado */
    }
  }
  