body {
    font-family:"Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    font-size: 23px;
  }
  
  nav {
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul .right-icons {
    margin-left: auto;
  }
  
  nav ul .right-icons li {
    margin-left: 30px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  .content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .text {
    width: 50%; 
  }
  p {
    text-align: justify;
    padding-left: 2%;
  }
  
  #quien-soy .title, #estudios .title, #experiencia .title {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 1px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  #quien-soy .text h2 {
    font-size: 2rem; 
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 50px; 
    text-decoration: underline; 
  }
  #estudios .text h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 350px;
    text-decoration: underline;
  }
  
  #estudios .text .timeline-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    height: 100%;
    margin-left: 35%;
    font-size: 26px;
  }
  
  #estudios .text .timeline-text p {
    line-height: 3;
  }
  
  #estudios .content-wrapper .mapa iframe {
    width: 50%; 
    margin-left: auto;  
    margin-left: 200px; 
    display: block; 
  }
  
  #estudios .content-wrapper .mapa p {
    font-size: 30px; 
    margin-right: 200px;
    margin-left: 150px;
  }
  
  
  .content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .text {
    width: 50%;
  }
  .mapa {
    width: 50%;
  }
  
  #quien-soy .text p, #experiencia .text p {
    font-size: 2rem;
    margin-left: 5%;
  }
  
  #quien-soy .image {
    width: 50%; 
    display: flex;
    justify-content: center;
  }
  
  #quien-soy .image img {
    max-width: 40%;
    height: auto;
    border: 1px solid black;
  }
  #estudios .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  #estudios .content-wrapper .text {
    width: 50%;
  }
  #estudios .content-wrapper .mapa {
    width: 50%;
  }
  #experiencia .text h1 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 100px;
    text-decoration: underline;
  }
  
  #experiencia .text {
    width: 100%; /* Ancho del div de texto */
    margin-right: 100px;
  }
  
  h1 {
    font-size: 28px;
  }
  
  #mas-contenido .title {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 1px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  #mas-contenido .content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  #mas-contenido .video {
    width: 100%;
    display: flex;
    justify-content: center; /* Para centrar el video */
  }
  
  #mas-contenido .video iframe {
    border: 1px solid black; /* Para añadir el borde al video */
  }
  
  #mas-contenido .download {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  
  #mas-contenido .download a {
    text-decoration: none;
    color: white; /* Para hacer el texto del botón negro */
    background-color: gray; /* Para hacer el fondo del botón gris */
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold; /* Para hacer el texto del botón en negrita */
  }
  
  footer {
    background-color: #f8f8f8;
    padding: 1px;
    text-align: center;
  }
  
  footer .contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  footer .text {
    flex: 1;
    text-align: center;
  }

  footer .text p {
    font-size: 20px;
    margin: 0 10px;
  }
  
  footer .flag-button {
    margin-right: 50px;
    padding: 5px; /* Añade un espacio interno alrededor de la bandera */
  }
  
  footer .flag-image {
    width: 70px; /* Ajusta el tamaño de la bandera */
  }