<!DOCTYPE html>
<html>
  <head>
    <title>CV Pablo Prieto</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="icon" href="../../img/logos.png" type="icono">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#"><i class="fas fa-globe"></i></a></li>
        <div class="right-icons">
          <li><a href="#quien-soy"><i class="fas fa-user"></i></a></li>
          <li><a href="#estudios"><i class="fas fa-graduation-cap"></i></a></li>
          <li><a href="#experiencia"><i class="fas fa-briefcase"></i></a></li>
        </div>
      </ul>
    </nav>
    <section id="quien-soy">
      <div class="title">
        <h1>Who am I</h1>
      </div>
      <div class="content-wrapper">
        <div class="text">
          <h2>Presentation:</h2>
          <p>I introduce myself, I am Pablo, I am 18 years old, I live in Castelldefels, I am a student at the Joan XIII school. Currently, I am studying SMX2, a computer science degree where we deal with operating systems and networks.</p>
          <h2>Hobbies:</h2>
          <p>
            I like to go to the gym and train hard, I also like to play video games from time to time with friends, but what I value most is the time I spend with
        </p>
        </div>
            <img class="image" src="../../img/principal.jpg" alt="Pablo">
      </div>
    </section>    
    <section id="estudios">
      <div class="title">
        <h1>Studies:</h1>
      </div>
      <div class="content-wrapper">
        <div class="text">
          <h2 id="solj">Timeline:</h2>
          <div class="timeline-text">
            <p>
              [2013] - [2017] 	Elementary Education - Torre Barona <br>
              [2017] - [2021] ESO - Joan XIII <br>
              [2022] - [2023] SMX1 - Joan XIII <br>
              [2023] - [2024] INTERSHIP - Jesuites el Clot <br>
              [2023] - [2024] SMX2 - Joan XIII
            </p>
          </div>
        </div>
          <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3738.628950715649!2d2.1029185446324705!3d41.349980169418934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sJesu%C3%AFtes%20Bellvitge%20-%20Centre%20d&#39;Estudis%20Joan%20XXIII!5e0!3m2!1sca!2ses!4v1683734391813!5m2!1sca!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            
            <p>Joan XIII study center, located in the Bellvitge district of the city of L'Hospitalet de Llobregat in Catalonia, Spain.</p>
        </div>
    </section>
    <section id="experiencia">
      <div class="title">
        <h1>Labor Information:</h1>
    </div>
      <div class="content-wrapper">
        <div class="text">
            <h1>Work Experience:</h1>
            <p>
                I recently finished the internship at Jesuites el Clot together with a classmate. We were attending from the summer of 2023 until November 2023.
                2023, we learned many useful things and also many tools that make work easier, we were with 2 internship tutors and it was much better than I expected
          </p>
        </div>
      </section>
          </section>
    <section id="mas-contenido">
      <div class="title">
        <h1>More content</h1>
      </div>
      <div class="content-wrapper">
        <div class="video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/epcQ_jwJMCc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="download">
            <a href="https://drive.google.com/u/0/uc?id=10k8JcV7UN_biYQ1FyTbHPAD0icWmAJW2&export=download" download>Download my CV</a>
        </div>
      </div>
    </section>
    <footer>
      <div class="contact-info">
        <div class="text">
          <p>
            <i class="fas fa-envelope"></i>pabloprietodiaz83@gmail.com<br>
            <i class="fas fa-phone"></i> +34 123 456 789 <br>
            <i class="fas fa-map-marker-alt"></i> Castelldefels
          </p>
        </div>
        <div class="flag-button">
          <a href="../../index.html">
            <img src="../../img/españa.png" alt="Bandera" class="flag-image">
            
          </a>
        </div>
      </div>
    </footer>         
    </body>
  </html>
  